<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.theartofdev.edmodo.cropper"
    xmlns:android="http://schemas.android.com/apk/res/android">

       <application>
            <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat"/>
        </application>
</manifest>
